{% extends "base.html" %}
{% block content%}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Lenkeran</p>
                </div>
            </div>
        </header>
        <div class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
        <br></br>
       <p justify> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ex velit, ultrices sed diam tincidunt, interdum suscipit urna. Praesent eget mi ut nisl vulputate tristique. Curabitur lacinia leo at auctor laoreet. Praesent efficitur bibendum tellus sit amet eleifend. Curabitur sed neque nunc. Nulla eros magna, pulvinar gravida diam sed, elementum interdum enim. Aliquam vitae ex mollis, iaculis orci non, blandit lacus. Vivamus euismod vehicula nibh, a auctor leo congue suscipit. Aenean sit amet lacinia ipsum. In sed tellus elementum urna malesuada finibus at vitae justo. Cras non lorem quis metus consequat consectetur sed non est.
<br></br>
Nulla tortor ligula, malesuada ac consectetur at, vulputate sit amet neque. Ut commodo interdum nibh, id porttitor lorem. Nunc malesuada libero eget lacus dignissim tristique. Aenean sit amet mauris non ipsum tempus ullamcorper. Donec at congue orci, in vestibulum elit. Nulla facilisi. Sed vitae blandit nulla, finibus congue nunc. Praesent feugiat tincidunt lobortis. Sed eget semper arcu, non pulvinar elit. Aenean tincidunt eu metus sit amet molestie. Mauris orci neque, aliquam et bibendum id, tempor a sapien. Suspendisse quam libero, tempor non augue non, bibendum vehicula turpis.
<br></br>
Aenean ac purus sem. Fusce id dolor quis lectus pellentesque viverra ac ac ipsum. Sed ultrices interdum tempus. Vestibulum fermentum eget nunc ac egestas. Donec gravida elit pulvinar nunc finibus rhoncus. Sed sit amet scelerisque est. Sed vitae magna quam. Curabitur fermentum pharetra dolor nec consequat. Morbi augue ex, lacinia ut convallis iaculis, luctus ut felis.
</p>
<br></br>
        </div>
    </div>
</div>
{% endblock%}